* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* changed padding to 25px */

header {
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* increased font size by 2px */
header h1 {
    display: inline-block;
    font-size: 55px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

/* gave a header margin of 18px to align the content with h1 */
header div ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 18px;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 22px;
}

/* gave a top margin of 5px */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 5px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: 100%;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* new class "sos" repalcing individual block classes */
/* changed height to 315px*/
.sos {
    margin-bottom: 20px;
    padding: 50px;
    height: 330px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.sos img {
    max-height: 200px;
}

.sos h2 {
    margin-bottom: 20px;
    font-size: 40px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* single class "segments" replacing individual classes */
.segments {
    margin-bottom: 32px;
    color: #ffffff;
}

.segments h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

.segments img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
